// Import Tweakpane styles
@import '../../node_modules/tweakpane/lib/sass/defs';
@import '../../node_modules/tweakpane/lib/sass/view/common/input';
@import '../../node_modules/tweakpane/lib/sass/view/common/button';
@import '../../node_modules/tweakpane/lib/sass/view/common/list';

// Additional style for the plugin
.#{$prefix}-search-listv {
	position: relative;

	&_i {
		@extend %input;
	}

	&_select-box {
		display: none;
		position: absolute;
		top: calc(var(--unit-size));
		left: 0;
		right: 0;
		background-color: var(--input-foreground-color);
		border-radius: $inner-border-radius;
		&.active {
			display: block;
		}
	}

	&_options {
		margin: 0;
		padding: 0;
		list-style-type: none;
		max-height: 240px;
		overflow: auto;
		.no-data {
			cursor: initial;
			text-align: center;
			color: var(--select-no-data-color, #fff);
		}
		li {
			cursor: pointer;
			padding: 4px 6px;
			border-radius: $inner-border-radius;
			&:hover {
				background-color: var(--select-option-bg-hover, rgb(129, 129, 129));
			}
			&:not(:last-child) {
				// margin-bottom: 4px;
			}
		}
	}

	&_m {
		@extend %list_arrow;

		color: var(--button-foreground-color);
	}

	//cursor: pointer;
	//display: grid;
	//grid-template-columns: repeat(10, 1fr);
	//grid-template-rows: repeat(auto-fit, 10px);
	//height: calc(var(--unit-size) * 3);
	//overflow: hidden;
	//position: relative;
	//
	//&_text {
	//	// You can use CSS variables for styling. See `RootView` declarations for details:
	//	// ../../node_modules/tweakpane/lib/sass/view/_root.scss
	//	color: var(--input-foreground-color);
	//
	//	bottom: 2px;
	//	font-size: 0.9em;
	//	line-height: 0.9;
	//	opacity: 0.5;
	//	position: absolute;
	//	right: 2px;
	//}
	//&_dot {
	//	height: 10px;
	//	line-height: 10px;
	//	position: relative;
	//	text-align: center;
	//
	//	&::before {
	//		background-color: var(--input-foreground-color);
	//		content: '';
	//		border-radius: 1px;
	//		height: 2px;
	//		left: 50%;
	//		margin-left: -1px;
	//		margin-top: -1px;
	//		position: absolute;
	//		top: 50%;
	//		width: 2px;
	//	}
	//}
	//&_frac {
	//	background-color: var(--input-foreground-color);
	//	border-radius: 1px;
	//	height: 2px;
	//	left: 50%;
	//	margin-top: -1px;
	//	position: absolute;
	//	top: 50%;
	//}
}
