// Import Tweakpane styles
@import '../../node_modules/tweakpane/lib/sass/defs';
@import '../../node_modules/tweakpane/lib/sass/view/common/input';
@import '../../node_modules/tweakpane/lib/sass/view/common/button';
@import '../../node_modules/tweakpane/lib/sass/view/common/list';

// Additional style for the plugin
.#{$prefix}-search-listv {
	position: relative;

	&_i {
		@extend %input;
	}

	&_select-box {
		display: none;
		border-radius: $inner-border-radius;
		&[data-show] {
			display: block;
		}
		z-index: #{$z-index-picker + 1};
	}

	&_options {
		margin: 0;
		padding: 0;
		list-style-type: none;
		max-height: 240px;
		overflow: auto;
		background-color: var(--tp-plugin-select-box-bg-color, var(--input-background-color));
		.no-data {
			cursor: initial;
			text-align: center;
			color: var(--tp-plugin-select-no-data-color, #fff);
		}
		li {
			cursor: pointer;
			padding: 4px 6px;
			border-radius: $inner-border-radius;
			&:hover {
				background-color: var(--tp-plugin-select-option-bg-hover, rgb(129, 129, 129));
			}
			&:not(:last-child) {
				// margin-bottom: 4px;
			}
		}
	}

	&_m {
		@extend %list_arrow;

		color: var(--button-foreground-color);
	}
}
